body {
    margin: 0px;
    font-family: 'Caveat', cursive;
}

.player-btn {
    font-family: 'Prata', serif;
    padding: 0px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    border-bottom: solid 3px transparent;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgb(242, 139, 56);
}

.player-btn:hover {
    color: rgb(240, 28, 24);
}

.header, .footer {
    background-image: url(../img/middle-bcg.png);
}

.header {
    position: sticky;
    top: 0;
    min-height: 2em;
    z-index: 1;
}

.header-nav {
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-btn {
    font-family: 'Prata', serif;
    padding: 0px;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    border-bottom: solid 3px transparent;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    color: rgb(242, 139, 56);
}

.nav-btn:hover {
    color: rgb(240, 28, 24);
    border-bottom: solid 3px #FAFAFA;
}

.svg {
    fill: rgb(242, 139, 56);
    transition: 1s;
}

.svg:hover {
    fill: rgb(240, 28, 24);
    transform: scale(1.2);
}

.basket-icon {
    width: 65px;
    height: 65px;
    padding: 0px;
    background-color: transparent;
    border: none;
    border-bottom: solid 3px transparent;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    color: rgb(242, 139, 56);
}

.main-section {
    padding-top: 1px;
    background-image: url(../img/page-bcg.png);
}

.section-container {
    width: 90%;
    margin: 0px auto;
}

.catalog {
    margin: 30px;
    font-size: 40px;
    color: rgb(240, 28, 24);
}

.catalog-name {
    margin-left: 15px;
    text-align: left;
}

.img-btn {
    width: 50px;
    height: 50px;
}

.main-btns {
    flex-direction: column;
    display: flex;
    align-items: baseline;
    margin-right: 50px;
}

.main-btn {
    font-family: 'Prata', serif;
    padding: 0px;
    margin: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-bottom: solid 3px transparent;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    color: rgb(242, 139, 56);
}

.main-btn:hover {
    color: rgb(240, 28, 24);
}

.catalog-and-presents {
    display: flex;
}

.present-btn {
    color: rgb(240, 28, 24);
}

.present-btn:hover {
    color: rgb(242, 139, 56);
}

.presents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.present {
    margin: 15px;
}

.present-info {
    font-size: 20px;
}

.present-img {
    width: 85%;
    transition: 1s;
}

.present-img:hover {
    transform: scale(1.1);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
}

.footer-nav {
    display: flex;
    margin: 0px;

}

.footer-main {
    display: flex;
    flex-direction: column;
}

.footer-nav-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-btn {
    width: 15px;
    height: 15px;
}

.social-icon {    
    width: 35px;
    height: 35px;
    padding: 0px;
    background-color: transparent;
    border: none;
    border-bottom: solid 3px transparent;
    cursor: pointer;
    outline: none;
}
.social {
    width: 35px;
    height: 35px;
    background-color: rgb(255, 116, 142);
    border-radius: 17px;
}

.social:hover {
    background-color: rgb(244, 15, 24);
}

.footer-about {
    font-size: 30px;
    margin-bottom: 10px;
}

.social-btns {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.mail-phone {
    font-size: 23px;
    margin-top: 10px;
    font-family: 'Prata', serif;
    padding: 0px;
    background-color: transparent;
    border: none;
    border-bottom: solid 3px transparent;
    outline: none;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    text-decoration: none;
    color: rgb(242, 139, 56);
}

.mail-phone:hover {
    color: rgb(240, 28, 24);
}

.logo-img {
    width: 250px;
}

.use {
    font-size: 23px;
    margin-top: 10px;
    font-family: 'Prata', serif;
    padding: 0px;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    color: rgb(0, 0, 0);
}